@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono: ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "pennypacker-wide", Helvetica, sans-serif;
}

h1 {
  font-size: 6rem;
}

@layer utilities {
  .shadow-glow-amber {
    box-shadow: 0 0 15px rgba(251, 183, 12, 0.6), 0 0 30px rgba(251, 183, 12, 0.4);
  }
}